*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}

.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    width: 800px;
    height: 600px;
    background-image: url("./you-win-sign-pop-art-style_175838-499.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

.flop{
    width: 200px;
    height: 200px;
    border: 1px solid white;
    background-color: rgb(224, 224, 224);
}

.a,.b,.c,.d,.e,.f{
    padding: 5px 5px;
}

.a{
    background-size:cover;
    background-image: url("./facebook.png");
    background-position: center;
}
.b{
    background-image: url("./instagram.png");
    background-size:cover;
    background-position: center;
}
.c{
    background-image: url("./linkedin.png");
    background-size:cover;
    background-position: center;
}
.d{
    background-image: url("./twitter.png");
    background-size:cover;
    background-position: center;
}
.e{
    background-image: url("./whatsapp.png");
    background-size:cover;
    background-position: center;
}
.f{
    background-image: url("./youtube.png");
    background-size:cover;
    background-position: center;
}


.solved{
    background-color: transparent;
    background-image: none;

}