img {
	width: 400px;
	height: 400px;
}

.navbar {
	background-color: rgb(70, 102, 247);
	width: 100vw;
	height: 100px;
	display: flex;
	flex-direction: row;
}

li {
	text-decoration: none;
	list-style: none;
	color: white;
}
