* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	width: 100vw;
	height: 100vh;
	background-color: rgb(211, 195, 195);
	color: rgb(138, 45, 224);
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper{
    width:600px;
    height:600px;
    background-color: rgb(232, 233, 231);
	display: grid;
	grid-template-columns: repeat(120,1fr);
	grid-template-rows: repeat(120,1fr);
}

.wrapper > div:hover{
	background-color: rgb(55, 219, 40);
}

.white{
	background-color: rgb(23, 235, 40);
}